.local-persist
.teeny
dist
.wrangler
.dev.vars
.prod.vars
.blitz-bundle-id
.blitz/project.json
.blitz/metro.json
.claude/hooks/.last-stop-hook-ts

/.pnp
.pnp.js

ios/*
.vscode/*
/tmp
/out-tsc
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
